@layer simple-player {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  :root {
    --white: #ffffff;
    --white-0-50: rgba(255, 255, 255, 0.5);
    --lightgray: #e6e6e6;
    --primary: #0080ff;
    --border-small: 8px;
    --border-large: 16px;
  }

  .simple-player {
    position: relative;
    width: 100%;
    border-radius: var(--border-large);
    box-shadow: 0 0 10px 0 var(--lightgray);
    overflow: hidden;
  }

  .simple-player video {
    display: block;
    width: 100%;

  }
  
  .simple-player__controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
    width: calc(100% - 20px);
    padding: 10px 20px;
    background-color: var(--white-0-50);
    backdrop-filter: blur(10px);
    border-radius: var(--border-small);
  }
  
  .simple-player__line {
    flex-grow: 1;
    position: relative;
    height: 5px;
    background-color: var(--lightgray);
    cursor: pointer;
    border-radius: 4px;
  }
  
  .simple-player__handle {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .simple-player__progress {
    width: 0;
    height: 100%;
    background-color: var(--primary);
    border-radius: 4px;
  }
  
  .simple-player__time {
    font-size: 14px;
  }
  
  .simple-player__settings {
    display: flex;
    gap: 5px;
  }
  
  .simple-player__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: var(--border-small);
  }
  
  .simple-player__button:hover {
    background-color: var(--lightgray);
  }
}